32bit/.SublimeREPLHistory/
32bit/Package Control.cache/
32bit/Package Control.last-run
32bit/Package Control.merged-ca-bundle

64bit/.SublimeREPLHistory/
64bit/Package Control.cache/
64bit/Package Control.last-run
64bit/Package Control.merged-ca-bundle